<beans>
    <bean id="redisPool" class="com.slayerd.cases.dependenceinjection.pojo.RedisPool">
        <constructor-arg ref="redis"/>
    </bean>

    <bean id="redis" class="com.slayerd.cases.dependenceinjection.pojo.Redis" scope="singleton" lazy_init ="true">
        <constructor-arg type="String" value="127.0.0.1"/>
        <constructor-arg type="String" value="0616"/>
    </bean>
</beans>